@model IEnumerable<BLL.Models.AccountMovementInfromationView>

<thead>
    <tr>
        <td>ClientId </td>
        <td>AccountId</td>
        <td>Amount</td>
        <td>Date</td>
        <td>OperationType</td>
    </tr>
</thead>
@foreach (var movement in Model)
{
    if (movement.movements == null)
    {
        continue;
    }
    <tr>
        <td>@movement.clientId</td>
        <td>@movement.accountId</td>
        <td>@movement.movements.Amount</td>
        <td>@movement.movements.EntryDate</td>
        <td>@movement.movements.OperationType.Name</td>
    </tr>
}